.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media(min-width:760px){
  .content-wrap{
    flex-direction: row;
  }
}
.nav-header{
  height: 80px;
  background-color: #00BCD4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.nav-header h3{
  margin: 0;
  font-weight: 600;
}
.nav-header p{
  margin: 0;
  font-size: 18px;
  background-color: rgba(0,0,0,0.3);
  padding: 5px 8px;
  border-radius: 5px;
}
.nav-footer{
  height: 80px;
  background-color: #00BCD4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
}
.nav-footer a{
  color: #fff;
  flex-grow: 1;
  border-right: 1px solid rgba(0,0,0,0.3);
}
.nav-footer a:focus,a:hover{
  text-decoration: none;
}
.nav-footer a:last-child{
  border: none;
}
.left-nav{
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  background-color: #00bcd4;
}
.left-nav h3{
  color:#fff;
   text-align: center;
   padding: 20px 0;
   margin: 0;
   border-bottom: 2px solid #FFEB3B;
   font-weight: 600;
 }
 .left-nav a{
   padding:20px;
   font-size: 18px;
   color:#fff;
 }
 .left-nav a:hover,a:focus{
   background-color: rgba(0, 0, 0, 0.2);
   text-decoration: none;
}
.content-main{
  flex-grow: 1;
  display: flex;
  overflow-y: scroll;
}
.home-container{
   background-image: url(../images/home-bg.jpg);
   background-position: 50% 50%;
   display: flex;
   width: 100%;
 }
 .home-cover{
   display: flex;
   width: 100%;
   align-items: center;
   background-color: rgba(0,0,0,0.5);
 }
.home-item{
  color:#fff;
  margin: 0 auto;
  text-align: center;
}
.home-btn{
  border: none;
  border-radius: 5px;
  background-color: #ff4081;
  padding:8px 20px;
  font-size: 16px;
}
.home-btn:hover{
  background-color: #00bcd4;
}
